<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-hibernate:war exploded">
    <output-path>$PROJECT_DIR$/spring-common-examples/spring-mvc-hibernate/target/spring-common-examples-1.0.0</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc-hibernate/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-hibernate" />
        </element>
      </element>
    </root>
  </artifact>
</component>