<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-data-mongodb:war exploded">
    <output-path>$PROJECT_DIR$/spring-common-examples/spring-data-mongodb/target/spring-data-mongodb</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-data-mongodb/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-data-mongodb" />
        </element>
      </element>
    </root>
  </artifact>
</component>