<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-hibernate-simple:war exploded">
    <output-path>$PROJECT_DIR$/spring-common-examples/spring-mvc-hibernate-simple/target/spr-mvc-hib</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc-hibernate-simple/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-hibernate-simple" />
        </element>
      </element>
    </root>
  </artifact>
</component>