<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-cas-sample:war exploded">
    <output-path>$PROJECT_DIR$/spring-common-examples/spring-sso-cas/spring-cas-sample/target/spring-cas-sample-1.0</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-cas-sample/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-cas-sample" />
        </element>
      </element>
    </root>
  </artifact>
</component>