<component name="ArtifactManager">
  <artifact type="war" name="spring-cas-sample:war">
    <output-path>$PROJECT_DIR$/spring-common-examples/spring-sso-cas/spring-cas-sample/target</output-path>
    <root id="archive" name="spring-cas-sample-1.0.war">
      <element id="artifact" artifact-name="spring-cas-sample:war exploded" />
    </root>
  </artifact>
</component>